.left-nav-us {
  height: 60vh;
  overflow: scroll;
}

.content-left-us {
  overflow-y: visible !important;
  overflow-x: visible !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.left-nav-us * {
  overflow-x: visible !important;
}

.left-nav-us p {
  font-size:15px !important;
  color: #69C9AE !important;
  font-weight: 500 !important;
}

@media screen and (max-width: 1000px) {
  .left-nav-us p {
    font-size: 10px !important;
  }
}

.photo-preview {
  pointer-events: none;
  margin-top: -154px;
  z-index: 10000394;
  height: 200px;
  width: 150px;
  opacity: 0;
  position:absolute;
  background-position: 50% 50%;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
}

#pp-0 {
  background-image: url('images/r0.jpg');
}
#pp-1 {
  background-image: url('images/r10.jpg');
}
#pp-2 {
  background-image: url('images/r2.jpg');
}
#pp-3 {
  background-image: url('images/r3.jpg');
}
#pp-4 {
  background-image: url('images/r4.jpg');
}
#pp-5 {
  background-image: url('images/r5.jpg');
}
#pp-6 {
  background-image: url('images/r6.jpg');
}
#pp-7 {
  background-image: url('images/r10.jpg');
}
#pp-8 {
  background-image: url('images/r8.jpg');
}
#pp-9 {
  background-image: url('images/r9.jpg');
}
#pp-10 {
  background-image: url('images/r10.jpg');
}
#pp-11 {
  background-image: url('images/r11.jpg');
}

#photo-previews-outer {
  position: absolute;
  width: 200px;
  top: 200px;
  left: 200px;
  height: 300px;
  overflow: visible;

}

.photo-preview.visible {
  opacity: 1;
}

.content-right-us {
  padding-top: 0 !important;
  height: 700px !important;
}

#right-background-image {
  position:absolute;
  margin:0;
  opacity: 0.5;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

#profile-image-main {
  height: 95%;
  width: 95%;
}

#name-title {
  font-size: 50px;
  vertical-align: top;
  margin-left: 5px !important;
  display:block;
  margin: 0;
  font-weight: 800;
  color: #102D25;
}

#aoi-p {
  display:block;
  margin: 0 !important;
  margin-left: 5px !important;
  font-weight: 600;
  font-size: 20px;
  opacity: 0.75;
  padding: 0 !important;
  color: #0B1E19;
}

#bio {
  font-size: 20px;
  opacity: 0.75;
}

.info-p {
  display:block;
  margin-top: 25px;
  font-size: 25px;
  font-weight: 500;
  color: #266956;
  text-shadow: 0 0 3px #C3E9DF;
}

.info-fixed {
  font-weight: 900;
  color: #004D37;
}

.background-image {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.25s;
  -webkit-transition: background-image 0.25s;
}

#anchor-ignore {
  position:absolute;
  height: 0;
  width: 0;
}

#right-content {
  overflow-y: visible;
  height: auto;
}

.rads-split.split-right {
  border-left: 1px solid #215e4e;
}

.nav-link {
  overflow: visible;
}
